*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

[Bb]in/
[Oo]bj/
[Ll]ogs/
[Tt]est[Rr]esults/

$HOME/.local/share/Xamarin/

*.[Cc]ache

!*.[Cc]ache/

*.mlpd

_ReSharper*/
*.[Rr]es[Ss]harper

.JustCode

_TeamCity*

*.dotCover

.axoCover/*
!.axoCover/settings.json

*.coverage
*.coveragexml

_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

*.mm.*
AutoTest.Net/

*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

*.tss

*.jmconfig

*.pidb
*.tp

*.btproj.licenses

TestResults/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vs/

.vscode/

# Rider directory
.idea/

*.sln.iml

.idea/*
